name: test-trivy                          # workflow name
on:
  push:
    branches:                                 # similar to "only" in GitLab
      - main
jobs:
  build:
    runs-on: ubuntu-latest                    # similar to "image" in GitLab
    steps:
      - run: echo "This is a build step"      # similar to "script" in GitLab
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "This is a test step"
  container_scanning:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: build local container
        uses: docker/build-push-action@v2
        with:
          tags: test-trivy${{ github.sha }}
          push: false
          load: true
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'test-trivy${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'MEDIUM,HIGH,CRITICAL'
        continue-on-error: false             # allow the build to fail, similar to "allow_failure: true" in GitLab
  prod:
    runs-on: ubuntu-latest
    needs: container_scanning
    steps:
      - run: echo "This is a deploy step"